h2,ul,li{padding:0;margin:0}
ul,li{list-style:none}
body{background:#eee;color:#777;font-size:12px}
header{font-size:36px;padding-top:12px;line-height:72px;text-align:center}
.collection{background:#fff;line-height:2em;padding:1em;margin:2em}
.tags{float:right}
.tags li{background:#f2f2f2;float:right;line-height: 36px;padding: 0 .5em;margin:2px .5em;border-radius:3px;color:#aaa}
.tags li.warning {background: #FF6A00;}
.tags li.warning a {color: #fff;text-decoration: none;}
.text{
    color:#000;
    padding-bottom:12px;
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
    margin-bottom:12px;
    padding-top: 12px;
}
h2{font-weight:normal;font-size:24px;line-height:48px;color:#ccc;}
h2 span {color:#cfcfcf;font-size:14px;}
.text li{line-height:36px}
.text .size24{
    font-size:24px
}
.text .size18{font-size:18px}
.text .size16{font-size:16px}
.text .size14{font-size:14px}
.text .size12{font-size:12px}
.text .size24::before {
    content: "24px";
    display: inline-block;
    width: 70px;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Tahoma;
    color: #ccc;
}
.text .size18::before {
    content: "18px";
    display: inline-block;
    width: 70px;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Tahoma;
    color: #ccc;
}
.text .size16::before {
    content: "16px";
    display: inline-block;
    width: 70px;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Tahoma;
    color: #ccc;
}
.text .size14::before {
    content: "14px";
    display: inline-block;
    width: 70px;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Tahoma;
    color: #ccc;
}
.text .size12::before {
    content: "12px";
    display: inline-block;
    width: 70px;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Tahoma;
    color: #ccc;
}

.css {
    color:#999
}
.css a {
    text-decoration: none;
    color: #555;
}
.class{border-bottom:1px solid #eee;margin-bottom:12px;padding-bottom:12px}
.notes {
    margin-top: 12px;
    border-top: 1px solid #eee;
    padding-top: 12px;
}
.notes li::before {
    content: '> ';
    color: #333;
    font-weight: bold;
}
.available {
    border-bottom: 1px solid #aaa;
}
#notes {
    text-align: center;
}
#notes a {
    color: #333;
}