.card {
    background: #fff;
    margin: 4em 0;
    padding: 2em;
}

.card h2 span {
    font-size: .6em;
}

.card .preview {
    line-height: 2em;
    color: #000;
}

.card .preview span {
    display: inline-block;
    width: 80px;
    color: #777;
}