<div class="card">
    <h2>{{ data.name }} <span>.{{ data.className }}</span></h2>
    <ul>
        <li v-for="platform of data.platforms">{{ platform }}</li>
    </ul>
    <ul class="preview">
        <template v-for="size of sizes">
                <li :style="{ fontSize: size + 'px' }">{{ text }}</li>
        </template>
    </ul>
    <ul>
        <li v-for="font of data.fonts">{{ font.name }}</li>
    </ul>
    <ul>
        font-family:
        <li v-for="font of data.cssFontFamilies">{{ font }}</li>
    </ul>
    <ul class="notes">
        <li v-for="note of data.notes">> {{ note }}</li>
    </ul>
</div>