h2, ul, li {
    padding:0;
    margin:0;
}
ul, li {
    list-style:none;
}
body {
    background:#eee;
    color:#777;
    font-size:12px;
    padding: 2em;
}
h1, h3 {
    text-align: center;
}
a {
    color: #555;
}
